.contactsBlock {
    background-color: lavender;
    height: 60vh;
    display: flex;
    justify-content: center;
}

.contactsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}



.form {
    height: 200px;
    width: 600px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
}

/*.inputContainer {*/
/*    width: 400px;*/
/*    margin-bottom: 20px;*/
/*    padding: 0 10px;*/
/*}*/

.input{
    /*width: 100%;*/
    padding: 0px 0px 10px;
    border: 1px solid;
    margin-bottom: 10px;
}

.textArea {
    /*width: 100%;*/
    height: 120px;
    padding: 0px;
}

@media screen and (max-width: 768px){
    .form {
        width: 100%;
    }
}