.mainBlock {
    height: 100vh;
    background-color: bisque;
    display: flex;
    justify-content: space-around;

}

.mainContainer {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


.greetings {
    background-color: greenyellow;
    width: 300px;
}

.photo {
    background-color: grey;
    width: 300px;
    height: 400px;
}