@import "../common/styles/sass/Variables";
.viewBtn {
    background-color: $primaryColor;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
    text-decoration: aquamarine;
    color: $textColor;
}