.project {
    border: 1px solid;
    background-color: #b2b2b2;
    text-align: center;
    width: 400px;
}

.image {
    background-color: greenyellow;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}


