.footerBlock {
    width: 100%;
    height: 30vh;
    background-color: #63ded9;
    display: flex;
    justify-content: center;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.socialNetwork {
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    width: 70%;
    flex-wrap: wrap;
}

.socialNetworkIcon {
    background-color: aquamarine;
    height: 50px;
    width: 50px;
    flex-wrap: wrap;
}