.projectsBlock {
    min-height: 60vh;
    background-color: darkkhaki;
    display: flex;
    justify-content: space-around;
}

.projectsContainer {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;

}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title {
    /*width: 400px;*/
    background-color: grey;
}